<!DOCTYPE html>
<html>
  <title>Search using Api</title>
  <body>
    <h1>Hello!</h1>
    <p>Welcome to the twitter username search</p>
    <form action="" method="get">
      <label for="userid">Enter the user id you want to search </label><br />
      <input id="userid" type="number" name="userid" />
      <input type="submit" value="OK" />
    </form>
    <a href="http://127.0.0.1:8000/testapp/query"
      >Click here to query the database</a
    >
    {% if case == 404 %}
    <p>{{detail}}</p>
    {% else %} {% if userid != 96479162 %}
    <p>username={{ username }}</p>
    {% endif %} {% endif %}
  </body>
</html>
